<div class="productsPage productsPage--position">
  <h2 class="productsPage__header">
    Featured Products
  </h2>

  <div class="productsPage__content">
    {% for product in collections['frontpage'].products %}
      {% include 'product-card', product: product %}
    {% endfor %}
  </div>
</div>