@import './variables.scss';

body {
  margin: 0;
  font-family: Inter, Geneva, Tahoma, sans-serif;
}

.shopify-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  max-width: 1000px;
}

.button {
  background-color: $secondary-color;
  width: 100%;
  border: 0;
  border-radius: 40px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  padding: 20px 35px;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: $secondary-active;
  }
}